*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body{
    font-family:'Times New Roman', Times, serif;
    background-color: #2b2d42;
}

a{
    text-decoration: none;
    font-weight: 400;
    font-size: 2.5em;
    color: #8d99ae;

}

h2,p{
    color: #2b2d42
}

h1{
    font-weight: 800;
    font-size: 3.5rem;
    color: #8d99ae;
}

h2{
    font-weight: 600;
    font-size: 2rem;
    color: #2b2d42;
}

p{
    font-weight: 400;
    font-size: 1.5em;
}

.about img{
    width: 25vw;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo .education-title{
    font-size: 3.2rem;
}

.menu-list{
    list-style-type: none;
}

.menu .list-item{
    display: inline-block;
    padding: 20px 10px;
}

.menu ul li a:hover{
    color: #ff0054;
    transition: 0.3s, ease-in-out;
}

.about-container{
    margin-top: 5%;
    margin-left: 5%;
}

.about{
    display: flex;
    margin: 10vw;
    padding: 5vw;
    background-color: #8d99ae;
    border-radius: 10px;
    align-items: center;
}

div.about p{
    font-size: 1.5em;
    padding: 2vw;
    color: #2b2d42;
    text-align: center;
}

.education-section {
    margin-top: 5%;
    margin-left: 5%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
}

.card{
    width: 40vw;
    height: 30vh;
    background: #8d99ae;
    border: 3px solid ;
    border-radius: 20px;
}

.card-header{
    text-align: center;
    margin-top: 5%;
}

.card-body{
    text-align: center;
}

.card-body img{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100px;
    height: 100px;
}

@media only screen and (max-width:779px){
    nav{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .about{
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width:515px){
    .logo{
        text-align: center;
    }
    .menu{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .row{
        flex-direction: column;
        align-items: center;
    }
    .about{
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width:512px){
    .menu .list-item{
        display: block;
        text-align: center;
    }
}
